@import '../api/helpers';

.fm-file-list {
}

.fm-file-item {
	@include flexbox();
	padding: 5px 10px;
	border: 1px solid transparent;

	&:hover {
		border: 1px solid #ccc;
		border-radius: 5px;
		cursor: pointer;
	}
}

.fm-file-item-header {
	@include flexbox();
	border: 1px solid transparent;
	border-bottom: 1px solid #333;
	margin-bottom: 5px;
	padding: 5px 10px;
}

.fm-file-item-id {
	@include flex(1 0 300px);
}

.fm-file-item-name {
	@include flex(1 0 100px);
}

.fm-file-size {
	@include flex(0 0 50px);
}

.fm-file-size-bar-fill {
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: green;
}


.fm-file-view-header {

}

.fm-file-view-size {

}

.fm-file-view-content-header {

}

.fm-file-view-content {
	word-wrap: break-word;
}
