.fm-login-page {
	width: 95%;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;

	-moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 0.4s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.4s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.4s;
}

.fm-login-greeting {
	font-size: 48px;
	margin-top: 30px;
}

.fm-login-connect {
	margin-top: 15px;
	font-size: 24px
}

.fm-login-icon-container {
	padding: 30px;
}

.fm-login-input-container {
	text-align: left;
	margin-top: 10px;
}

.fm-login-page-error {
    color: red;
    font-size: 12px;
}


/* TOS Page */
.fm-tos-page {
	width: 95%;
	max-width: 9400px;
	margin: 0 auto;
}
.fm-tos-header {
	font-size: 36px;
}


@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(10px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateY(10px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}
@keyframes dropHeader {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



